
.channel-list__list__wrapper {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 240px;
  }
  
.button-plus{
display:inline-block;
justify-content: flex-start;
align-items: center;
height: 3rem;
font-size: 2rem;
margin-left: 2rem;
margin-right: 1rem;
float: right;
background-color: black;
border: none;
}

.button-add{
/* display:inline-block;
justify-content: flex-start;
align-items: center;
height: 3rem;
font-size: 2rem;
margin-left: 2rem;
margin-right: 1rem;
float: right; */
background-color: black;
border: none;
}

.input-width{
	width: 50%;
}